<div>
   
        <button mat-button color="accent" (click)="serviceCallSamePage($event)">
          Service Call Same Page</button>
        
    

</div>
<div>
    <select name="dropdownObjectArrayVariable"   formControlName="actualValue" 
    class="rounded-inputs20 select-select col-md-3"
    (change)="onChange($event)">
        <option *ngFor="let single of dropdownObjectArrayVariable"  [value]="single.name">{{single.name}}</option>
    </select>
</div>
<div>
    <div class="error">{{error}}</div>
</div>
<div>
<table>
     
      <tr *ngFor="let record of records">
        
        <td>{{record.id}}</td>
        <td>{{record.employee_name}}</td>
        <td>{{record.employee_salary}}</td>
      </tr>
    
  </table>

  <div>
      <div>
          <div class="row">
              <div>
                  <h2>Angular 6 Reactive Form Validation</h2>
                  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>Employee Name</label>
                          <input type="text" formControlName="employee_name" />
                          
                      </div>
                      <div class="form-group">
                          <label>Employee Salary</label>
                          <input type="text" formControlName="employee_salary" />
        
                      </div>

                      <div class="form-group">
                          <label>Employee Age</label>
                          <input type="text" formControlName="employee_age" />
        
                      </div>
                     
                      <div class="form-group">
                          <button >Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>




</div>